
body {
	background-color: #26272b;
	color: #DCDCDC;
}

html {
scroll-behavior: smooth;
}




/*
HEADER
*/
.header {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	height: 70px;
	line-height: 70px;
	background-color: #1e272e;
	position: fixed;
	top: 0;
	z-index: 998; 
	opacity: 90%
}

.header .header-logo {
	color: #ecf0f1;
	font-family: 'MinecrafterAltRegular', sans-serif;
	float:left;
	margin-left: 40px;
	font-size: 300%;
}

.header .header-menu {
	float:right;
	margin-right: 30px;
	font-family: 'Fira Sans', sans-serif;
}
.header .header-menu .mp3 {
	color: #ffffff;
}

.header .header-menu .Accueil {
	color: #ffffff;
}

.header .header-menu .setup {
  color: #ffffff;
}

.header .header-menu .jeux {
  color: #ffffff;
}

.header .header-menu .D3 {
  color: #ffffff;
}





.header .header-menu a {
	margin-right: 15px;
	color: #bdc3c7;
	font-size: 105%;
	opacity:100%;	
}

.header .header-menu{
	transition: transform 10s;
}

.header .header-menu a:hover {
	color: #ffffff;
	transition: color 0.5s;
  opacity: 100%;
}

/*
BANNER
*/
.banner {
	margin-top: -100px;

}

.banner .banner-image {
    margin-top: 100px;	
    background-image: url("img/welcome.png");
    background-position: center;
    background-size: cover;
    height: 470px;
}

.banner .banner-content {
	position: absolute;
	width: 100%;
	text-align: center;
}
.banner .banner-content p {
  font-size: 25px;
  padding-top: 150px;
  font-family: 'Itim', cursive;
  color: white;
}

.banner .banner-content h1 {
	font-size: 100px;
  width: 100%
}

.banner .banner-content h1,
.banner .banner-content h2 {
	color: white;
	position: absolute;
    margin-top: -200px; 
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    color: white;
    text-shadow: 1px 1px 1px #f5f6fa,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.banner .banner-content .example_f {
   border-radius: 4px;
   background: linear-gradient(to right, #f1f2f6, #2d2d2d) !important;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 22px;
   padding: 20px;
   width: 200px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;
   }
 .example_f span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .example_f span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .example_f:hover span {
   padding-right: 25px;
 }
 .example_f:hover span:after {
   opacity: 1;
   right: 0;
 }
 .button_cont{
 	margin-top: 250px;
 }





 /*
 accueille
 */

 .vik67-txt{
   padding-top: 1000px;
 }

#scroll {
  margin-top: -850px;
}


.scroll {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -90px;
 }



.image .img a .D3  {
  width: 18%;
  height: 750px;
  object-fit: cover;
  padding-left: 0.8%;
  float: left;
}




.image .img a .jeux {
  width: 45%;
  height: 450px;
  object-fit: cover;
  float: right;
  padding-left: 0.7%;
  padding-right: 0.8%;
}


.image .img a .setup  {
  width: 36%;
  height: 450px;
  object-fit: cover;
  margin-right: 0.8%;
  float:right;
}



.image .img a .music  {
  width: 82%;
  height: 300px;
  object-fit: cover;
  padding-right: 0.8%;
  padding-left: 0.8%;
  float:top;
  padding-top: 0.8%;
}

.image .img .D3 .D3-txt{
  font-size:5vw;
  position: absolute;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  color: white;  
  width: 18%;
  text-decoration: underline;
  padding-left: 0.8%;
  float: left;
  text-shadow: black 1px 0 10px;
  z-index: 2;
}



.image .img .jeux .jeux-txt {
  font-size:5vw;
  position: absolute;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  color: white;  
  width: 60%;
  text-decoration: underline;
  float: right;
  margin-left: 11%;
  text-shadow: black 1px 0 10px;
  z-index: 2;
  text-align: center;
}


.image .img .setup .setup-txt  {
  font-size:5vw;
  position: absolute;
  font-family: 'Fira Sans', sans-serif;
  color: white;
  width: 80%;
  text-decoration: underline;
  float: right;
  margin-left: 42%;
  text-shadow: black 1px 0 10px;
  z-index: 2;
  text-align: center;
}



.image .img .music .music-txt  {
  font-size:5vw;
  position: absolute;
  font-family: 'Fira Sans', sans-serif;
  color: white;  
  width: 18%;
  text-decoration: underline;
  float: top;
  margin-left: 50%;
  margin-top: 470px;
  text-shadow: black 1px 0 10px;
  z-index: 2;
}


.image .img .music img  {
  -webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}

.image .img .music:hover img   {
/* L'image est grossie de 25% */
-webkit-transform:scale(1.05); /* Safari et Chrome */
-moz-transform:scale(1.05); /* Firefox */
-ms-transform:scale(1.05); /* Internet Explorer 9 */
-o-transform:scale(1.05); /* Opera */
transform:scale(1.05);
}

.image .img .music p  {
  -webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}

.image .img .music:hover p   {
/* L'image est grossie de 25% */
-webkit-transform:scale(1.10); /* Safari et Chrome */
-moz-transform:scale(1.10); /* Firefox */
-ms-transform:scale(1.10); /* Internet Explorer 9 */
-o-transform:scale(1.10); /* Opera */
transform:scale(1.10);
}





.image .img .setup img  {
  -webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}

.image .img .setup:hover img   {
/* L'image est grossie de 25% */
-webkit-transform:scale(1.05); /* Safari et Chrome */
-moz-transform:scale(1.05); /* Firefox */
-ms-transform:scale(1.05); /* Internet Explorer 9 */
-o-transform:scale(1.05); /* Opera */
transform:scale(1.05);
}

.image .img .setup p  {
  -webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}

.image .img .setup:hover p   {
/* L'image est grossie de 25% */
-webkit-transform:scale(1.10); /* Safari et Chrome */
-moz-transform:scale(1.10); /* Firefox */
-ms-transform:scale(1.10); /* Internet Explorer 9 */
-o-transform:scale(1.10); /* Opera */
transform:scale(1.10);
}








.image .img .D3 img  {
  -webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}

.image .img .D3:hover img   {
/* L'image est grossie de 25% */
-webkit-transform:scale(1.05); /* Safari et Chrome */
-moz-transform:scale(1.05); /* Firefox */
-ms-transform:scale(1.05); /* Internet Explorer 9 */
-o-transform:scale(1.05); /* Opera */
transform:scale(1.05);
}

.image .img .D3 p  {
  -webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}

.image .img .D3:hover p   {
/* L'image est grossie de 25% */
-webkit-transform:scale(1.10); /* Safari et Chrome */
-moz-transform:scale(1.10); /* Firefox */
-ms-transform:scale(1.10); /* Internet Explorer 9 */
-o-transform:scale(1.10); /* Opera */
transform:scale(1.10);
}




.image .img .jeux img  {
  -webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}

.image .img .jeux:hover img   {
/* L'image est grossie de 25% */
-webkit-transform:scale(1.05); /* Safari et Chrome */
-moz-transform:scale(1.05); /* Firefox */
-ms-transform:scale(1.05); /* Internet Explorer 9 */
-o-transform:scale(1.05); /* Opera */
transform:scale(1.05);
}

.image .img .jeux p  {
  -webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}

.image .img .jeux:hover p   {
/* L'image est grossie de 25% */
-webkit-transform:scale(1.10); /* Safari et Chrome */
-moz-transform:scale(1.10); /* Firefox */
-ms-transform:scale(1.10); /* Internet Explorer 9 */
-o-transform:scale(1.10); /* Opera */
transform:scale(1.10);
}















/*
mon setup.html
*/


.banner .banner-content-setup {
  background-image: url("img/setup.png");
  background-position: center;
  background-size: cover;
  height: 470px;
}


.text{  
  font-family: 'Itim', cursive;
  font-size: 20px;
  text-align: center;
}


.ordi h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
}

.ordi .setup .pc{
  padding-top: 50px;
}

.ordi .setup p{
  font-family: 'Fira Sans', sans-serif;                                           
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-align: left;
  margin-left: 20%;
  letter-spacing: 1.5px;
}

.ordi .setup a{
  text-decoration: none;
  color: white;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
}

.ordi img{
  margin-right: 14%;
  width: 350px;
  display: block;
  padding-top: 20px;
  float: right;
}


.ordi .pr h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
}

.ordi .pr .bureau .clavier{
  padding-top: 50px;
}


.ordi .pr p{
  font-family: 'Fira Sans', sans-serif;                                           
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-align: left;
  margin-left: 20%;
  letter-spacing: 1.5px;
}

.ordi .pr a{
  text-decoration: none;
  color: white;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
}









/*
MUSIQUE.HTML
*/


.banner .banner-image-mp3{
  background-image: url("img/dj.jpg");
  background-position: center;
  background-size: cover;
  height: 470px;
}

 .text {
	padding-top: 0px;
  font-family: 'Itim', cursive;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}




#trait_dessus{
padding-top: 5px;
width : 10000px;
z-index: 10;
} 
/*
MP3
*/

.audio .titre1{
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
}
.audio .titreh1{
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}


.audio .titre2{
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
}
.audio .titreh2{
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  padding-top: 100px;
}

.audio .titre3{
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
}
.audio .titreh3{
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  padding-top: 100px;
}

.audio {
  
  text-align: center;
  margin-top: 100px;
}

.audio .ytb1 {
   padding-top: -100px;
   position:relative;
}





/*
JEUX
*/


.banner .banner-image-jeux{
  background-image: url("img/jeux.png");
  background-position: center;
  background-size: cover;
  height: 470px;
}

.jeux h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  text-align: center;
}
.jeux h2{
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  text-align: center;
  padding-top: 100px;
}


.jeux .j-1 img{
  object-fit: cover;
  height: 450px;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jeux .j-2 img{
  object-fit: cover;
  height: 450px;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.jeux .j-3 img{
  object-fit: cover;
  height: 450px;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.jeux .j-1 .mrc-txt{
  text-align: left;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  font-family: 'Fira Sans', sans-serif;            
}



/*
3D
*/

.banner .banner-image-3D{
  background-image: url("img/3D.png");
  background-position: center;
  background-size: cover;
  height: 470px;
}










/*
site footer
*/

.site-footer
{
  background-color:#26272b;
  padding:160px 0 10px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#26272b;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:white;
  text-decoration:none;
}
.footer-links .header-menu
{
  padding-left:0;
  list-style:none;
  float:right;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Fira Sans', sans-serif;
  text-decoration: underline;
}

.footer-links .header-menu a 
{
	margin-right: 100px; 
  
}



.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: #ffffff;
	transition: color 0.5s;
  opacity: 100%;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0;
  margin-bottom:-30px;
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.youtube:hover
{
  background-color:#ff0000
}
.social-icons a.twitch:hover
{
  background-color:#9147ff
}
.social-icons a.facebook:hover
{
  background-color:#4867aa
}
.social-icons a.instagram:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}














